<h2>Found {{searchResult.length}} result for "{{searchTerm}}"</h2>

<div class="row">
    <div class="col-lg-4" ng-repeat="movie in searchResult">
    <div class="panel panel-default">
        <div class="panel-heading">{{movie.title}}</div>
        <div class="panel-body">
            <div>Director: {{movie.director}}</div>
            <div>Genre: {{movie.genre}}</div>
            <div>Year: {{movie.year}}</div>
            <div>Country: {{movie.country}}</div>
        </div>
    </div>
    </div>
</div>